@use './mixins' as *;

div.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;

  nav {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
  
    li {
      padding: 10px;
      list-style-type: none;
      position: relative;
      font-size: 10pt;

      &.selected {
          a {
              color: #fff;

              div.icon {
                  background-color: #fff;
              }
          }
      }

      &.badged {
        &::after {
            content: "●";
            position: absolute;
            top: 2px;
            right: 4px;
            color: $light-mode-button-background;
            font-size: 16pt;
          }
      }

      a {
        color: $light-mode-text;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        label {
          display: block;
          text-align: center;
        }

        div.icon {
          width: 24px;
          height: 24px;
          background-color: #000;
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-size: contain;
          mask-repeat: no-repeat;
        }
      }
    }
  }

  a.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #555;
    color: white;
    padding: 10px;
    z-index: 1000;

    &:focus {
      top: 0;
    } 
  }

  #main {
    flex: 1;
    background-color: #fff;

    div.empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;

      h2 {
        font-weight: 300;
      }

    }
  }
}

@include medium-size-device {
    div.root {
        flex-direction: row;

      nav {
    order: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
        &.badged {
          &::after {
              left: 28px;
            }
        }

        a {
            flex-direction: row;

            label {
                text-align: left;
            }
        }

        div.icon {
            display: inline-block;
            margin-right: 10px;
        }

        padding: 10px;
    }
  }
}
}

@include large-size-device {
    div.root {
  nav {
    li {
        justify-content: flex-start;
        flex-direction: row;
    }
  }
}
}

@include dark-mode {
    div.root {
    nav {
        li {
            color: #999;

            a {
                color: #999;

                div.icon {
                    background-color: #999;
                }
            }
        }
    }

    #main {
      background-color: #22222a;
    }
}
}