<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pavillion</title>
    <% if ((environment === 'production' || environment === 'e2e') && manifest['src/client/app.ts']?.css) { %>
    <% manifest['src/client/app.ts'].css.forEach(function(cssFile) { %>
    <link rel="stylesheet" href="/<%= cssFile %>" />
    <% }); %>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <% if (environment === 'production' || environment === 'e2e') { %>
    <script type="module" src="/<%= manifest['src/client/app.ts'].file %>"></script>
    <% } else { %>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/client/app.ts"></script>
    <% } %>
  </body>
</html>
